.header-left .logo {
  font-weight: 600;
  font-size: 18px;
}

.header-center {
  flex: 1;
}

.search-input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #1e2636;
  background: #050b16;
  color: #f5f5f5;
  outline: none;
}

.search-input::placeholder {
  color: #707a8f;
}

.header-rigth {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.header-button {
  background: #182233;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  transition: background 0.2s ease;
}

.header-button:hover {
  background: #1e2636;
}