*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

a{

    text-decoration: none;

}

.all{

    display: flex;

}

.esquerda{

    background-color: rgb(4,0,16);

    height: 100vh;
    width: 15vw;

}

.direita{

    background-color: rgb(24, 14, 49);

    height: 100vh;
    width: 85vw;

}

/*-------------------------------------- QUADRANTE 02 --------------------------------------*/

.quadrante_2{

    height: 10vh;


    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-bottom: solid 2px rgba(255, 255, 255, 0.1);

}

.logo{

    color: rgb(255, 225, 0);
    font-size: 1.2em;
    margin: auto;

    text-shadow: 0px 0px 5px rgb(255, 225, 0);

}
/*-------------------------------------- QUADRANTE 01 --------------------------------------*/
.quadrante_1{

    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
    height: 10vh;

    display: flex;

    position: relative;

}

.quadrante_1 h1{

    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.1);

    margin: auto;

}

.userIcon{

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: 3px solid black;

    right: 0%;
    display: block;
    position: absolute;

    height: 80px;

}

.username{

    position: absolute;

    right: 90px;
    top: 40%;

}

/*-------------------------------------- QUADRANTE 03 --------------------------------------*/
.quadrante_3{

    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.quadrante_3 nav{

    padding-top: 50px;

}



.navegacao {

    font-weight: bolder;
    font-size: 1.3rem;

    display: block;
    margin: 0 30px;

    padding: 20px;
    transition: 200ms;

}

.addDiv{

    width: 100%;
    height: 10vh;

}

.addButton{

    background-color: rgb(255, 225, 0);

    font-size: 1.5rem;
    height: 100%;
    width: 100%;

    color: rgb(4,0,16);

    border: none;

}

.addButton:hover{

    cursor: pointer;

}

.selecionado{

    color: rgb(255, 225, 0);

    text-shadow: 0px 0px 5px rgb(255, 225, 0);

    font-size: 1.4rem;

}

.navegacao:hover{

    font-size: 1.4rem;
    transition: 200ms;

}

/*-------------------------------------- QUADRANTE 04 --------------------------------------*/

.quadrante_4{

    height: 90vh;

}

.scroll{

    overflow-y: scroll;

}

.minhasNotas {

    width: 90%;
    margin: 0 auto;
    font-size: 1.3rem;

}

.minhasNotas p{

    color: rgba(255, 255, 255, 0.3);

}

.areaDeBusca{

    margin: 50px auto;

    justify-content: space-between;

    width: 90%;
    height: 50px;

    display: flex;

}

.barraDeBusca{

    display: block;
    text-align: center;

    width: 80%;
    height: 100%;
    font-size: 1.5rem;

    background-color: rgb(4,0,16);

    border: none;
    border-radius: 10px;

}

.botaoDeBusca{

    background-color: rgb(255, 225, 0);
    color: rgb(24, 14, 49);

    font-weight: bolder;
    font-size: 1.1rem;

    display: block;
    width: 15%;
    height: 100%;

    border: none;
    border-radius: 10px;
    
}

.lista{

    width: 90%;
    margin: 0 auto;
    padding-top: 50px;

    height: 630px;



}

.item{

    background-color: rgba(255, 255, 255, 0.15);

    height: 90px;
    border-radius: 10px;
    padding: 10px;

    margin: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.tituloNota{

    font-size: 2rem;
    display: flex;

    justify-content: space-between;

}

.remover{

    background-color: rgb(255, 225, 0);
    color: rgb(24, 14, 49);

    font-weight: bolder;
    font-size: 1.1rem;

    right: 0;
    display: block;
    width: 15%;
    height: 100%;

    border: none;
    border-radius: 10px;

}

.tipoNota{

    font-size: 1.1rem;
    font-weight: bolder;
    background-color: rgb(255, 225, 0);
    width: min-content;
    padding: 3px 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);

}
/*-------------------------------------- MODAL --------------------------------------*/

.sombra-modal{

    position: absolute;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.5);

    transition: 300ms;

}

.modal{

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    position: absolute;

    height: 500px;
    width: 1000px;

    background-color: white;

}

.topo-modal{

    height: 10%;
    width: 100%;

    background-color: rgb(39, 15, 110);

    text-align: center;
    justify-content: center;

}

.topo-modal h1 {

    padding: 10px;
    display: block;

}

.conteudo-modal{

    display: flex;
    margin: 100px auto;
    width: 85%;
    justify-content: space-between;

    height: 50px;

}

.inputTXT-modal{

    width: 80%;
    display: block;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 20px;
    border: none;

    background-color: rgba(0, 0, 0, 0.1);

}

.inputSLT-modal{

    width: 15%;
    display: block;
    color: black;
    font-size: 1.1rem;

}

.inputSLT-modal option{

    color: black;
    font-size: 1.1rem;

}

.botoes-modal{

    justify-content: right;
    display: flex;

    width: 90%;
    margin: auto;

}

.modal-confirmar{

    height: 75px;
    width: 150px;
    background-color: rgb(83, 232, 24);

    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    display: block;
    margin-left: 30px;

}

.modal-cancelar{

    height: 75px;
    width: 150px;
    background-color: rgb(218, 33, 33);

    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    display: block;

}

.esconde{

    opacity: 0%;
    visibility: hidden;

    transition: 100ms;

}

