.app {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #050b16;
}

.content {
  flex: 1;
  padding: 32px 40px;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid #141a27;
  gap: 24px;
}

.sidebar {
  width: 230px;
  background: #050b16;
  border-right: 1px solid #141a27;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}